<!-- COMP229_Assignment_01, Farzam Mohammadi Assad, 301109706, Oct/09/2020-->

<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->

<div class="container">
    <div class="dor">
        <div class="offset-md-3 col-md-6"></div>
        <h1><% title %></h1>
        
        <form class="form" method="POST">
            <div class="form-group">
                <label for="nameTextField">Book Title</label>
                <input type="text" class="form-control"
                id="nameTextField" placeholder="Enter The Book title"
                name="name" required>
            </div>

            <div class="form-group">
                <label for="authorTextField">Author</label>
                <input type="text" class="form-control"
                id="authorTextField" placeholder="Enter The Book's Author"
                name="author" required>
            </div>

            <div class="form-group">
                <label for="publishedTextField">Year</label>
                <input type="text" class="form-control"
                id="publishedTextField" placeholder="Enter The Year of Publication"
                name="published" required>
            </div>

            <div class="form-group">
                <label for="priceTextField">Price</label>
                <input type="number" class="form-control"
                id="priceTextField" placeholder="Enter The Book's Price"
                name="price" required>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i>Submit</button>

                <a href="/book-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i>Cancel</a>
        </form>

    </div>
</div>


<%- include ../partials/footer.ejs %>



