 <!--Script-->

  
 <div class="push"></div>
  </div>
  <footer class="footer">Copyright &copy; 2020 Tusk inc. All rights reserved.</footer>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html> 
