 <!--Script-->
 <footer>
    <p >Copyright &copy; 2020 Tusk inc. All rights reserved.</p>
  
 </footer>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html> 
