<!--Main Navigation-->
<ul class="nav justify-content-center bg-dark">
  <img src="../images/logo.png" width=40pxs height=auto>
  <li class="nav-item">
    <a class="nav-link" href="/home"><i class="fas fa-home"></i>Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/about"><i class="fas fa-child"></i></i>About</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/contact"><i class="far fa-address-card"></i>Contact</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/services"><i class="fas fa-briefcase"></i></i></i>Services</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" href="/projects"><i class="fab fa-algolia"></i>Projects</a>
  </li>

  </ul>

