<!-- COMP229_Assignment_02, Farzam Mohammadi Assad, 301109706, Oct/25/2020-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main content-->
 <main class="container">
 <div class="row">
   <div class="col">
<div class="jumbotron jumbotron-fluid center" style="background: rgba(124, 124, 124, 0);">
      <h2 class="display-4 ">Welcome to my <%= title %> page</h2>
      <hr class ="my-3">
     </div>
  </div>
</div>
    <h4 class="w3-wide">About me:</h4>
    <img src="../images/profile_picture.jpg" width="400px" height="380px">
<p>&nbsp</p>      
<p>Hello there! Welcome to my about page. My name is Farzam Mohammadi and I'm a student at Centennial College in Toronto, Ontario, Canada.</p>
<p>I am currently in the 2nd year of my studies and I could not be happier about my decision to get into the field of software engineering.</p>
    <h4>Education:</h4>
    <p>&nbsp</p> 
    <h4><b>BA psychology</b></h4>
<p>York University, Toronto, ON  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Sep. 2015 – Apr. 2019</b></p>
<h4><b>Software Engineering</b></h4>
<p>Centennial College, Toronto, ON	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Sep. 2019 – Present</b></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Expected graduation: Apr. 2022</b></p>
      <p>I am currently in search of a CO-OP position for May 2021. After finishing my 4th semester at Centennial College, which will be in April of 2021 I wish to begin gaining professional experience in the field of Software Engineering to jump start my career.</p>
			<p>At centennial I have gained extensive experience in developing, debugging, maintaining and updating software.</p>
      <p>Using my contact page, you can message me and file a request based on your needs or you can reach me at my personal LinkedIn below.</p>
      <p>If you wish to get to take a look at my skills and abilities, my resume is available below for viewing. </p>
    <h4>Social Media Links:</h4>
      <a class="btn btn-lg btn-outline-danger" href="https://www.linkedin.com/in/farzam-mohammadi-82944b1a4" role="button">Linkedin</a>
      <h4>Work Related Documents:</h4>
      <a class="btn btn-lg btn-outline-danger" href="../assets/Resume.docx" role="button">Resume</a>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
 </main>

<%- include partials/footer.ejs %>


