<!-- COMP229_Assignment_02, Farzam Mohammadi Assad, 301109706, Oct/25/2020-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main content-->
 <main class="container">
 <div class="row">
   <div class="col">
    <div class="jumbotron jumbotron-fluid center" style="background: rgba(124, 124, 124, 0);">
      <h2 class="display-4 ">Welcome to my <%= title %> page</h1>
        <hr class ="my-3">
     </div>
  </div>
</div>
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Farzam Mohammadi</h2>
    <p class="w3-opacity"><i>- An employee you can rely on!</i></p>
        <h4 class="w3-wide">Mission Statement:</h4>
        <p>Realizing the full potential of the internet and programming I'm are here to provide you my services in various areas of Software Engineering.</p>
    <h4><b>Take a closer look at my porfolio:</b></h4>
    <p class="w3-opacity">Below, you will find information about me and my skills and with the help of our contact page you can reach me whenver you're in need of my services.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
      <a class="btn btn-lg btn-outline-danger" href="/about" role="button">About</a>
      <a class="btn btn-lg btn-outline-danger" href="/contact" role="button">Contact</a>
      </div>
    </div>
  </div>
 </main>
<%- include partials/footer.ejs %>



