<!-- COMP229_Assignment_02, Farzam Mohammadi Assad, 301109706, Oct/25/2020-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main content-->
 <main class="container">
 <div class="row">
   <div class="col">
<div class="jumbotron jumbotron-fluid">
      <h2 class="display-5 ">Welcome to the <%= title %> page</h1>
      <hr class ="my-4">
     </div>
  </div>
</div>
<div class="col">
  <div class="row-2">
    <h2>Unfortunately, my project list only consists of a few minor porjects as of right now and are available down below.</h2>
    <div>
      <h5>HTML: </h5>
      <h5>We were tasked to develope different HTML pages with our desired CSS styling. The project ranges from beginner to Intermediate level coding.</h5>
    <a href="http://studentweb.cencol.ca/fmoha138/">&#8594;Centennial College COMP213 page</a>
  </div>
    <hr class ="my-4">
<div>
<h5>C and C++ as a functional language in Arduino project. </h5>
</div>
<img src="./images/p1.jpg" width="250px" height="180px">  
<img src="./images/p2.jpg" width="250px" height="180px">  
<img src="./images/p3.jpg" width="250px" height="180px">  

</div>
</div>
<p>
</main>
       <%- include partials/footer.ejs %>



