<!-- COMP229_Assignment_02, Farzam Mohammadi Assad, 301109706, Oct/25/2020-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main content-->
 <main class="container">
 <div class="row">
   <div class="col">
    <div class="jumbotron jumbotron-fluid center" style="background: rgba(124, 124, 124, 0);">
      <h2 class="display-4 ">Welcome to my <%= title %> page</h1>
        <hr class ="my-3">
     </div>
  </div>
</div>
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">

  <h2 class="w3-wide">HTML York University form</h2>
  <div class="imageContainer">
  <img src="./images/form.png" width="250px" height="180px">  
  <img src="./images/form2.png" width="250px" height="180px">  
</div>
<p>&nbsp;</p>

<h2 class="w3-wide">HTML Billy Bob Real Estate</h2>
  <div class="imageContainer">
  <img src="./images/bill.png" width="250px" height="180px">  
  <img src="./images/bill2.png" width="250px" height="180px">  
  <img src="./images/bill3.png" width="250px" height="180px">  
</div>
<p>&nbsp;</p>

<h2>C and C++ as a functional language in Arduino project</h2>
<div class=imageContainer>
<img src="./images/p1.jpg" width="250px" height="180px">  
<img src="./images/p2.jpg" width="250px" height="180px">  
<img src="./images/p3.jpg" width="250px" height="180px">  
<p>&nbsp;</p>

<h2 class="w3-wide">Web App "Survey Fiends" - Survey application (full CRUD)</h2>
  <div class="imageContainer">
  <img src="./images/survey3.png" width="250px" height="180px">  
  <img src="./images/survey2.png" width="250px" height="180px">  
  <img src="./images/survey1.png" width="250px" height="180px">  
  <img src="./images/survey4.png" width="250px" height="180px">  
  <img src="./images/survey5.png" width="250px" height="180px">  
  <img src="./images/survey7.png" width="250px" height="180px">  
  <h3>Output as PDF</h3>
  <img src="./images/survey6.png" width="250px" height="180px">  
</div>
<a href="https://survey-fiends.herokuapp.com"> https://survey-fiends.com </a>

</div>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>
</main>
       <%- include partials/footer.ejs %>



