<!-- COMP229_Assignment_02, Farzam Mohammadi Assad, 301109706, Oct/25/2020-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main content-->
 <main class="container">
 <div class="row">
   <div class="col">
<div class="jumbotron jumbotron-fluid">
      <h2 class="display-5 ">Welcome to the <%= title %> page</h1>
      <hr class ="my-4">
     </div>
  </div>
</div>


<img src="./images/csharp.png" width="100px" height="100px">  
      <hr class ="my-4">
			 <p>C# - Centennial College - Toronto, Ontario</p>

<img src="./images/java.png" width="120px" height="100px">  
      <hr class ="my-4">
			 <p>Java - Centennial College - Toronto, Ontario & UDEMY</p>

<img src="./images/oracle.png" width="100px" height="100px">  
      <hr class ="my-4">
			 <p>Centennial College - Toronto, Ontario</p>


 </main>

<%- include partials/footer.ejs %>



